:root {
    --color-h1: #2a2107;
    --color-h2: #032597;
    --color-art1: #823a92;
    --color-sect: #a1588d;
    --color-buttoncolor1: #13797a;
    --color-buttoncolor2: rgb(64, 194, 214);
    --color-buttonfont: #10164a;
    --color-back: #19138b;
    --black-light: #141111;
}
