:root {
    
/* DarkMode */
     --white-light: #ffffff;

/* Button Questions/Answer */
    --color-buttoncolor1: #f2acf9;
    --color-buttoncolor2: rgb(204, 117, 211);
    --color-buttonfont: #93005d;

/* Main */
/* --primary-color: #000000; */
    --pawsbookmarked: #04f410;

/* Body */


/* Footer */
    --color-footer: #823a92;

/* Header + Überschriften 1/2 */
    --primary-color: #000000;
    --color-h2: #032597;

/* Profile */
    --color-profile_back: rgb(170, 209, 242);
    --profile: rgb(4, 20, 75);

}

