.background {
    padding: 0px;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100%;
    margin: 0px;
    background-image: url(../img/background_natur.jpg);
}

footer {
    background-color: var(--color-footer);
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    padding: 0px;
}

.navigation {
    text-align: center;
}

.exp {
    display: flex;
    gap: 50px;
    justify-content: center;
}
