* {
  box-sizing: border-box;
}
html {
    padding: 0px;
}
:root {
    --color-h1: rgb(42, 33, 7);
    --color-h2: rgb(225, 92, 4);
    --color-art1: rgb(193, 152, 75);
    --color-art2: rgb(172, 82, 23);
    --color-sect: rgb(198, 118, 5);
    --color-but-f: rgb(105, 58, 4);
    --color-but-r2: rgb(237, 189, 100);
    --color-button: rgb(154, 102, 30);
    --color-button2: black;
    --color-back: saddlebrown;
}




body {
  display:grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding-right: 400px;
  padding-left: 400px;
  background-color: var(--color-back)
}
header{
    text-align: center;
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
}
h1 {
    text-align: center;
    color: var(--color-h1);
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
}
h2 { 
    text-align: center;
    color: var(--color-h2);
}
article {
    background-color: var(--color-art1);
    display: grid;
    text-align: center;
    margin: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-art2);
    position: relative;
}
object {
    position:absolute;
    right: -8px;
}
section {
  background-color: var(--color-sect);
  display: flex;
  place-items: center;
  padding: 20px;
}
button:hover {
  background-color: var(--color-but-r);
  padding: 10px 30px;
  color: var(--color-but-r2)
}
button {
    background-color: var(--color-button);
    color: var(--color-button2);
    padding: 10px 30px;  
}
.fake:hover {
    background-color: var(--color-but-f)
}
.questions{
    max-width: 90%;
    margin: 80px auto;
    padding: 20px;
    border-radius: 20px;
}
footer {
    border: 2px solid;
    border-color: var(--color-h1);
    background-color: var(--color-art1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 0px;
    
}



.bookmark_aktiv {
    color: red;
}

.profile_manag {
    background-color: rgb(245, 224, 85);
}
.profile_picture {
    display: flex;
    border-radius: 30px;
    justify-content: center;
    margin: 100px;
}
.profile {
    max-width: 90%;
    margin: 80px auto;  
}
.exp {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}
.inx {
    border: 2px solid;
    border-radius: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.books {
    border: 2px solid;
    border-radius: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prfl {
    border: 2px solid;
    border-radius: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.active {
    color:rgb(255, 145, 0)
}